<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Form</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111111;
        }
    </style>
</head>
<body>
    <h1>Member Form</h1>
    <ul>
        <li><a href="/membership">Membership</a></li>
        <li><a href="/members"> Members</a></li>
    </ul>
    <form action="#" th:action="@{/members/save_member}" th:object="${member}" method="post">
        <p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Name: <input type="text" th:field="*{name}"  /></p>
        <p>Age: <input type="text" th:field="*{age}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>